<%- include('includes/head') %>
<%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
          <h1 class="text-center">Agenda</h1>
          <p class="text-center lead">Agenda feita em JavaScript</p>

          <div class="row">
            <div class="col my-3">
              <div class="alert alert-danger">Um erro qualquer.</div>
            </div>
          </div>

          <div class="responsive-table my-3">
            <table class="table">
              <tr>
                <td>jovane</td>
                <td>rocha</td>
                <td>988284730</td>
                <td>cabralguerra@gmail.com</td>
              </tr>            
            </table>
          </div>

        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>

<%- include('includes/footer') %>
   